openapi: 3.0.0
info:
  version: 1.0.0
  title: EV充電エネチェンジAPI（充電スポット一覧）
servers:
  - url: "https://stg.evene.jp/"
    description: staging環境
  - url: "https://evene.jp/"
    description: 本番環境
paths:
  /api/charger_spots:
    get:
      summary: 充電スポットと充電スポットに紐づく充電器を返します。緯度経度（４つ）、uuidまたはtextのいずれかが必須。
      operationId: chargerSpots
      tags:
        - charger_spots
      parameters:
        - $ref: "./components/attributes.yml#/attributes/parameters/x_ene_native_api_token"
        - name: user_uuid
          in: query
          description: 'ユーザのuuid'
          schema:
            type: string
          example: 'a3ee472d-a143-49af-9161-4e588eaefba0'
        - name: sw_lat
          in: query
          description: 検索したいエリアの最南西（左下）の緯度
          schema:
            type: string
          example: "35.683331703634124"
        - name: sw_lng
          in: query
          description: 検索したいエリアの最南西（左下）の経度
          schema:
            type: string
          example: "139.7657155055581"
        - name: ne_lat
          in: query
          description: 検索したいエリアの最北東（右上）の緯度
          schema:
            type: string
          example: "35.686849507072736"
        - name: ne_lng
          in: query
          description: 検索したいエリアの最北東（右上）の経度
          schema:
            type: string
          example: "139.77340835691592"
        - name: uuid
          in: query
          description: '検索したい充電スポットのuuid。カンマ区切りで連結して複数スポットを取得可能'
          schema:
            type: string
        - name: text
          in: query
          description: '検索したい充電スポットの名称（部分一致で検索）'
          schema:
            type: string
        - name: fields
          in: query
          description: 'デフォルトはすべての属性を返却、絞り込みたい場合はfieldsに属性名（note, directions, marker_label, images, service_time_note, now_available, grouped_total_unit_prices_this_month_next_month, grouped_total_unit_prices_this_month_next_month_by_user, charger_spot_service_times, charger_devices, gogoev_charger_devices, address, facility_type, phone_number, parking_fee, advance_contact, gogoev_notes, maintenance_note, maintenance_status）をカンマ区切りで連結'
          schema:
            type: string
          example: 'note,directions,marker_label,service_time_note'
        - name: device_types
          in: query
          description: '充電種別（chademo: CHAdeMO, 100v: 100V, 200v: 200V, tesla: TESLA）カンマ区切りで連結'
          example: 'chademo,200v'
          schema:
            type: string
        - name: fee_types
          in: query
          description: '充電料金（pay: 有料, conditional_free: 条件付き無料, free: 無料, unknown: 不明）カンマ区切りで連結'
          example: 'free'
          schema:
            type: string
        - name: now_available
          in: query
          description: '現在利用可能か（true: 利用可能, true以外：不明、利用不可）'
          schema:
            type: string
          example: 'true'
        - name: styles
          in: query
          description: '充電出力（slow: 低速 20kW未満, medium: 中速 20-40kW未満, high: 高速 40-90kW未満, extra_high: 90kW以上, pole_with_cable: ポール型ケーブル付き, pole_outlet: ポール型コンセント, outlet_with_cable: コンセントにケーブル後付け, outlet_only: コンセントのみ, super_charger: スーパーチャージャー, except_super_charger: スーパーチャージャー以外）カンマ区切りで連結'
          schema:
            type: string
          example: 'high_40_50,extra_high_over_50'
        - name: gogoev_authentication_networks
          in: query
          description: '認証ネットワーク（none: なし, zesp2_zesp3: 日産 ZESP2 / ZESP3, zesp_lite: 日産 ZESP ライト, mitsubishi: 三菱自動車 電動車両サポート, eco_qden: エネゲート エコQ電, jtb_regular: JTB おでかけCard レギュラー, jtb_premiere: JTB おでかけCard プレミア, evss: EVSSネットワーク, toyota_phv_drive_support: トヨタ PHV DriveSupport, toyota_phv_drive_support_plus: トヨタ PHV DriveSupport Plus, toyota_phv_support: トヨタ PHV充電サポート, toyota_g_station: トヨタ G-Station, waon: イオン WAON, times_park_and_charge: タイムズ パーク＆チャージ会員, emp_fast_ordinary: eMP 急速・普通併用, emp_fast: eMP 急速充電器用, emp_ordinary: eMP 普通充電器用, bmw_charge_now_fast_ordinary: BMW ChargeNow 急速・普通併用, bmw_charge_now_ordinary: BMW ChargeNow 普通充電器用, eneos_charge_plus: ENEOS ChargePlus, nanaco: nanaco認証, enechange: ENECHANGE, other: その他）カンマ区切りで連結'
          schema:
            type: string
          example: 'zesp2_zesp3,eco_qden'
        - name: categories
          in: query
          description: '施設種別（mitsubishi: 三菱ディーラー, nissan: 日産ディーラー, toyota: トヨタディーラー, mercedes: メルセデスディーラー, bmw: BMWディーラー, vw: VWディーラー, honda: HONDAディーラー, station_airport: 駅・空港, roadside_station: 道の駅, sa: サービスエリア, public_facility: 公共施設, hotel: 宿泊施設・温浴施設, shopping_mall: ショッピングモール・小売店, convenience_store: コンビニ, leisure_facility: レジャー・スポーツ施設, coin_parking: コインパーキング, car_factory: 自動車工場, restaurant: レストラン, gas_station: ガソリンスタンド, electrical_contractor: 電気工事業者, other: その他）カンマ区切りで連結'
          schema:
            type: string
          example: 'nissan,coin_parking'
        - name: open_24_hours
          in: query
          description: '24時間営業か（true: 24時間営業, true以外：24時間営業ではない）'
          schema:
            type: string
          example: 'true'
        - name: advance_contacts
          in: query
          description: '事前連絡（necessary: 必要, unnecessary: 不要, unknown: 不明）カンマ区切りで連結'
          schema:
            type: string
          example: 'necessary'
        - name: parking_fee_types
          in: query
          description: '駐車料金（pay: 有料, conditional_free: 条件付き無料, free: 無料, unknown: 不明）カンマ区切りで連結'
          schema:
            type: string
          example: 'pay'
      responses:
        '200':
          description: ChargerSpots response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"

components:
  schemas:
    Response:
      type: object
      required:
        - status
        - charger_spots
      properties:
        status:
          type: string
          nullable: false
          description: 'ok, ng_latlngs_is_blank: 緯度軽度が空, ng_distance_too_long: 検索範囲が広すぎる'
          enum:
            - 'ok'
            - 'ng_latlngs_is_blank'
            - 'ng_distance_too_long'
          example: 'ok'
        charger_spots:
          type: array
          nullable: false
          items:
            $ref: "#/components/schemas/ChargerSpot"
    ChargerSpot:
      type: object
      required:
        - uuid
        - name
        - latitude
        - longitude
        - source
      properties:
        uuid:
          type: string
          description: 充電スポットを一意に識別するためのuuid
          example: fcef2c5e-7fc7-4f66-a310-00ba46bff54e
        name:
          type: string
          description: 充電スポットの名称
          example: 日本ビル
        latitude:
          type: number
          description: 充電スポットの緯度
          example: 35.685255491019944
        longitude:
          type: number
          description: 充電スポットの経度
          example: 139.76962079504972
        source:
          type: string
          description: 充電スポット情報のソース
          enum:
            - 'enechange'
            - 'gogoev'
          example: 'enechange'
        note:
          type: string
          nullable: true
          description: 備考
          example: どなたでも利用できます
        directions:
          type: array
          description: 道順（fields指定がない場合は返却される）
          items:
            type: string
            example: '317号線に乗り357号線の交差点に向かいます。交差点を越えて１つ目の交差点を左に曲がり、少し行くと充電スポットは右手側にあります。'
        marker_label:
          type: string
          description: マップのマーカーのラベル。
          example: 'chademo-tesla'
          enum:
            - 'enechange'
            - 'chademo'
            - 'tesla'
            - 'chademo-tesla'
            - 'normal'
        images:
          type: array
          description: 充電スポットの写真URL（fields指定がない場合は返却される）
          items:
            $ref: "#/components/schemas/ChargerSpotImage"
        service_time_note:
          type: string
          nullable: true
          example: GW・年末年始など不定期に停止することがあります。
        now_available:
          type: string
          description: 現在営業中かどうか（fields指定がない場合は返却される）
          enum:
            - 'yes'
            - 'no'
            - 'unknown'
          example: 'yes'
        grouped_total_unit_prices_this_month_next_month:
          type: array
          description: 同じ充電出力、単価でグルーピングされた単価。
          items:
            $ref: "#/components/schemas/GroupedTotalUnitPricesThisMonthNextMonth"
        grouped_total_unit_prices_this_month_next_month_by_user:
          type: array
          description: プロモコードを登録したユーザーに応じて、同じ充電出力、単価でグルーピングされた単価（プロモコードを登録すると充電単価が変わるケースがある）。
          items:
            $ref: "#/components/schemas/GroupedTotalUnitPricesThisMonthNextMonthByUser"
        charger_spot_service_times:
          type: array
          description: サービス提供時間（データが存在しない場合は空配列、fields指定がない場合は返却される）
          items:
            $ref: "#/components/schemas/ChargerSpotServiceTime"
        charger_devices:
          type: array
          description: 充電器情報
          items:
            $ref: "#/components/schemas/ChargerDevice"
        gogoev_charger_devices:
          type: array
          description: Gogoevの充電器情報（Gogoevの充電器のみ、fields指定がない場合は返却される）
          items:
            $ref: "#/components/schemas/GogoevChargerDevice"
        address:
          type: string
          nullable: true
          description: 住所（Gogoevの充電器のみ）
          example: '東京都中央区月島4-1-1'
        facility_type:
          type: string
          nullable: true
          description: 施設種別（Gogoevの充電器のみ）
          example: 'レジャー・スポーツ施設'
        phone_number:
          type: string
          nullable: true
          description: 電話番号（Gogoevの充電器のみ）
          example: '03-1111-2222'
        parking_fee:
          type: string
          nullable: true
          description: 駐車料金
          example: '条件付き無料'
        advance_contact:
          type: string
          nullable: true
          description: 事前連絡（Gogoevの充電器のみ）
          example: '不要'
        gogoev_notes:
          type: array
          description: 備考（Gogoevの充電器のみ）
          items:
            type: string
            example: 【設置位置】H区画
        maintenance_note:
          type: array
          description: 休止情報に関する備考
          items:
            type: string
            nullable: true
            example: '2023/05/15 11:30に復旧しご利用いただけるようになりました。'
        maintenance_status:
          type: string
          description: メンテナンス状態
          enum:
            - 'normal'
            - 'notice'
            - 'out_of_order'
            - 'on_break'
          example: 'normal'
    GroupedTotalUnitPricesThisMonthNextMonth:
      type: object
      description: '同じ充電出力、単価でグルーピングされた単価。月によって単価が異なるため、25日以降は翌月も出力する'
      properties:
        charger_device_codes:
          type: array
          items:
            type: string
            example: 'A100007'
        power:
          type: string
          description: '充電出力'
          example: '6.0'
        month_prices:
          type: array
          description: '最初の60分は無料といった単価設定に対応するため、配列で出力。'
          items:
            $ref: "#/components/schemas/MonthPrice"
    GroupedTotalUnitPricesThisMonthNextMonthByUser:
      type: object
      description: '同じ充電出力、単価でグルーピングされた単価。月によって単価が異なるため、25日以降は翌月も出力する'
      properties:
        charger_device_codes:
          type: array
          items:
            type: string
            example: 'A100007'
        power:
          type: string
          description: '充電出力'
          example: '6.0'
        expires:
          type: string
          nullable: true
          description: '適用期限'
          example: '2022-06-01T23:59:00+09:00'
          format: date-time
        month_prices:
          type: array
          description: '最初の60分は無料といった単価設定に対応するため、配列で出力。'
          items:
            $ref: "#/components/schemas/MonthPrice"
    ChargerSpotServiceTime:
      type: object
      required:
        - business_day
        - day
        - today
      properties:
        business_day:
          type: string
          description: 'yes: 営業日, no: 定休日, unknown: 不明'
          enum:
            - 'yes'
            - 'no'
            - 'unknown'
          example: 'yes'
        day:
          type: string
          description: 曜日
          enum:
            - Sunday
            - Monday
            - Tuesday
            - Wednesday
            - Thursday
            - Friday
            - Saturday
            - Holiday
            - Weekday
          example: Sunday
        start_time:
          type: string
          nullable: true
          description: 開始時刻
          example: '00:00'
        end_time:
          type: string
          nullable: true
          description: 終了時刻
          example: '24:00'
        today:
          type: boolean
          description: リクエストタイミングにおいてその曜日かどうか
          example: true
    ChargerDevice:
      type: object
      required:
        - name
        - code
        - maker_code
        - product_code
        - serial_number
        - latitude
        - longitude
        - display_status
        - power
        - fee
        - total_unit_prices_this_month_next_month
      properties:
        name:
          type: string
          description: 充電器の名称
          example: 日本ビル１
        code:
          type: string
          description: 充電器番号
          example: 'A100005'
        maker_code:
          type: string
          description: メーカーコード
          example: NIT
        product_code:
          type: string
          description: 製品コード
          example: EVPT-2G60
        serial_number:
          type: string
          description: シリアル番号
          example: A210207777
        service_start_time:
          type: string
          nullable: true
          description: サービス開始時刻
          example:
        service_end_time:
          type: string
          nullable: true
          description: サービス終了時刻
          example:
        allow_current:
          type: string
          nullable: true
          description: 充電許容電流
          example:
        max_charge_time:
          type: string
          nullable: true
          description: 最大充電時間
          example:
        latitude:
          type: number
          description: 緯度
          example: 35.685255491019944
        longitude:
          type: number
          description: 経度
          example: 139.76962079504972
        display_status:
          type: string
          description: '表示用ステータス（unavailable_or_no_info: 利用不可または情報なし, in_use: 利用中, available: 利用可能, unable_to_obtain_info: 情報取得不可（gogoevなど）'
          enum:
            - unavailable_or_no_info
            - in_use
            - available
            - unable_to_obtain_info
          example: available
        power:
          type: string
          description: '充電電力（3.2, 4.8, 6のどれかで6が基本。今後増える可能性あり）'
          example: '6'
        fee:
          type: string
          description: '充電料金（有料, 条件付き無料, 無料, 不明）'
          example: '有料'
        last_updated:
          type: string
          description: 最終更新タイミング
          nullable: true
          example: '09:06'
    ChargerSpotImage:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          example: 'https://xxxxx.s3.ap-northeast-1.amazonaws.com/xxxxx/xxxx.jpeg'
        caption:
          type: string
          example: '１号機'
    MonthPrice:
      type: object
      required:
        - month
        - prices
      properties:
        month:
          type: string
          example: '2022.5'
        prices:
          type: array
          items:
            $ref: "#/components/schemas/Price"
    Price:
      type: object
      required:
        - price
        - unit_minutes
        - minute_from
        - unit_type
        - unit_value
      properties:
        price:
          type: string
          example: '31.70'
        price_3kw:
          type: string
          nullable: true
          example: '15.85'
        unit_minutes:
          type: string
          description: '課金の単位時間（unit_valueに移管するので使わない）'
          example: '10'
          deprecated: true
        minute_from:
          type: number
          example: 0
        minute_to:
          type: number
          nullable: true
          example: null
        unit_type:
          type: string
          nullable: false
          description: 単価が時間課金かkWh課金か
          enum:
            - 'minute'
            - 'kwh'
        unit_value:
          type: string
          nullable: false
          description: 課金の単位の数値（unit_typeがminuteでunit_valueが10なら10分あたり）
        kwh_from:
          type: number
          nullable: true
          example: 0
        kwh_to:
          type: number
          nullable: true
          example: null
    GogoevChargerDevice:
      type: object
      required:
        - device_type
        - number
        - fee
        - authentication_networks
        - authentication_apps
      properties:
        device_types:
          type: array
          description: 充電器の種類
          items:
            type: string
            example: 普通充電
        power:
          type: string
          description: '充電出力'
          example: '56'
        number:
          type: number
          description: 充電器数
          example: 2
        fee:
          type: string
          description: 充電料金
          example: 条件付き無料
        authentication_networks:
          type: array
          description: 認証ネットワーク
          items:
            type: string
            example: '日産 ZESP2 / ZESP3'
        authentication_apps:
          type: array
          description: 認証アプリ
          items:
            type: string
            example: 'TOYOTA Wallet'
